<html>

  <head>
    <meta charset="utf-8" />
    <title>///SKAtepaRK\\\</title>
    <link rel="shortcut icon" href="/uploads/skatePark.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jersey+25&family=Reddit+Mono:wght@200..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <a href="/"><h1 id="web-title">Skate 🛹 Park</h1></a>
    {{{body}}}
  </body>
</html>